<template name="playerList">
{{#if Template.subscriptionsReady}}

  <div class="filter-container">
    <div class="filter grid-container">
      <div class="filter-buttons">
        <a href="{{pathFor 'playerMap'}}" title="Map" class="button-filter">
          <svg class="icon"><use xlink:href="#icon-globe" /></svg>
        </a>
        <a href="{{pathFor 'playerList'}}" title="List" class="button-filter is-active">
          <svg class="icon"><use xlink:href="#icon-list" /></svg>
        </a>
      </div>
    </div>
  </div>

  <div class="grid-container player-container has-space-bottom">
    <div class="player-list">
      {{#with currentUser}}
        {{> playerItem}}
      {{/with}}
      {{#each allPlayers}}
        {{> playerItem}}
      {{/each}}
    </div>
  </div>
{{else}}
  <div class="grid-container">
    {{> spinner}}
  </div>
{{/if}}
</template>
