<template name="playerBand">
  {{#with player}}
  <div id="{{username}}" class="player-item {{#if itsMe}}is-currentuser{{/if}} {{#if isSelected}}is-selected{{/if}}">
    <a href="{{pathFor 'playerDetail' userId=_id}}" class="player-item-avatar">
      {{> avatar user=this}}
    </a>
    <div class="player-item-content">
      <a href="{{pathFor 'playerDetail' userId=_id}}" class="player-item-name">
        {{#if status.pendingInvitation}}
          {{_ 'playerGroupPendingInvitation' playerName}}
        {{/if}}
        {{#if status.invited}}
          {{_ 'playerGroupInvited' playerName}}
        {{/if}}
        {{#if status.accepted}}
          {{playerName}}
        {{/if}}
      </a>
      <ul class="player-item-infos">
        {{#if profile.address.city}}<li class="player-item-city">{{profile.address.city}}</li>{{/if}}
        {{#if profile.gender}}<li class="player-item-gender">{{profile.gender}}</li>{{/if}}
        {{#if profile.birthday}}<li class="player-item-age">{{age}}</li>{{/if}}
        {{#if playerGames}}<li class="player-item-games">{{playerGames}}</li>{{/if}}
      </ul>
    </div>
    <div class="player-item-action">
      {{#if status.pendingInvitation}}
      <a href="" class="button acceptInvitation"> {{_ 'playerGroupAccept'}}</a>
      <a href="" class="button declineInvitation"> {{_ 'playerGroupDecline'}}</a>
      {{/if}}
      {{#if status.invited}}
      <a href="" class="button cancelInvitation"> {{_ 'playerGroupCancel'}}</a>
      {{/if}}
      {{#if status.accepted}}
      <a href="" class="button cancelInvitation"> {{_ 'playerGroupRemove'}}</a>
      {{/if}}
    </div>
  </div>
  {{/with}}
</template>
