$cover-padding: 12;
.cover-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #C1BFB7;
  padding: rem-calc($cover-padding/4);
  width: 100%;
  text-align: center;
  line-height: 100%;

  @media #{$small-up} {
    padding: rem-calc($cover-padding/2);
  }
  @media #{$medium-up} {
    padding: rem-calc($cover-padding);
  }

  &:before {
    content: '';
    padding-top: 100%;
  }
}
.cover {
  $cover-size-small: 72;
  $cover-size: 168;
  
  margin: auto;
  vertical-align: middle;
  max-height: rem-calc($cover-size-small - ($cover-padding*2));

  @media #{$small-up} {
    max-height: rem-calc($cover-size - ($cover-padding*2));
  }
}
.cover-labels {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  @media #{$medium-up} {
    position: absolute;
    top: 0;
    left: 2px;
    right: 1px;
    bottom: 2px;
  }
}
