$cover-padding: 12;
.cover-frame {
  position: relative;
  background: #C1BFB7;
  padding: rem-calc($cover-padding/4);
  text-align: center;

  @media #{$small-up} {
    padding: rem-calc($cover-padding/2);
  }
  @media #{$medium-up} {
    padding: rem-calc($cover-padding);
  }
}
.cover {
  object-fit: cover;
  margin: auto;
  vertical-align: middle;
}
.cover-labels {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  @media #{$medium-up} {
    position: absolute;
    top: 0;
    left: 2px;
    right: 1px;
    bottom: 2px;
  }
}
