.friend-list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  margin: 0 rem-calc(-6);

  & > li {
    margin: rem-calc(12 6 0);
    line-height: 0;
    @media #{$small-up} {
      flex: 1;
      min-width: calc(50% - 12px);
    }
    @media #{$large-up} {
      min-width: calc(25% - 12px);
    }
  }
}
.friend-item {
  display: block;
}
.friend-invitation {
  text-align: center;
  font-size: rem-calc(14);
  margin-top: rem-calc(12);
}
