.friend-list {
  @include reset-list;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: rem-calc(24 -6);

  & > li {
    margin: rem-calc(12 6 0);
    max-width: 45%;
  }
}
.friend-item {
  display: block;
  line-height: 0;
}
.friend-invitation {
  clear: both;
  text-align: center;
  font-size: rem-calc(14);
  padding: rem-calc(24);
}
