.game-list {
  width: 100%;
  @include container;

  &.is-framed {
    overflow: auto;
    max-height: rem-calc(420);
    padding: rem-calc(6);
    background-color: #E5E1CF;
    border: 1px solid #D9D4BA;
    @media #{$small-up} {
      padding: rem-calc(12);
    }
    @media #{$large-up} {
      padding: rem-calc(24);
    }
  }
}
.game-item {
  display: flex;
  background: white;
  box-shadow: 0px 2px 4px 0px rgba(119,117,104,0.30);
  @media #{$medium-up} {
    @include gallery(6 of 12);
  }
}
.game-item-cover {
  flex: none;
  width: span(4);
  line-height: 0;
  position: relative;
  background: #C1BFB7;
  @media #{$small-up} {
    width: span(3);
  }
  .cover-frame {
    padding: rem-calc($cover-padding/4);
    @media #{$small-up} {
      padding: rem-calc($cover-padding/2);
    }
  }
  img {
    max-height: rem-calc(60);
    max-width: 100%;
  }
}
.game-item-content {
  padding: rem-calc(6 12);
  width: span(8);
  overflow: hidden;
  @media #{$small-up} {
    padding: rem-calc(12);
    width: span(9);
  }
}
.game-item-title {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
  @media #{$small-up} {
    font-size: rem-calc(18);
  }
}
