<template name="home">
  <section class="home-light">
    <div class="grid-container">
      <a id="what"></a>
      <div class="home-what-content">
        <h2 class="h3">{{_ "homeWhatTitle"}}</h2>
        <p class="is-large">{{_ "homeWhatSubtitle"}}</p>
        <p>{{_ "homeWhatText"}}</p>
      </div>
    </div>
    <div class="grid-container">
      <a id="how"></a>
      <div class="home-how-content">
        <h2 class="h3">{{_ "homeHowTitle"}}</h2>
        <ol class="grid-row home-how-list">
          <li class="grid-col medium-4">
            <p class="is-large">1</p>
            <p>{{_ "homeHowOrganize"}}</p>
          </li>
          <li class="grid-col medium-4">
            <p class="is-large">2</p>
            <p>{{_ "homeHowMeet"}}</p>
          </li>
          <li class="grid-col medium-4">
            <p class="is-large">3</p>
            <p>{{_ "homeHowStart"}}</p>
          </li>
        </ol>
        <br>
        <p class="is-centered"><a href="{{pathFor 'gamesessionCreate'}}" class="button button-big">{{_ "navOrganize"}}</a></p>
      </div>
    </div>
  </section>

  <section class="home-description">
    <figure class="grid-container">
      <img alt="{{_ 'homeDescFindAlt'}}"
        src="images/king_small.jpg" width="228" height="290"
        srcset="images/king.jpg 456w, images/king_big.jpg 912w"
        sizes="auto">
      <figcaption>
        <h3>{{_ "homeDescFindTitle"}}</h3>
        <p class="is-large">{{_ "homeDescFindText"}}</p>
      </figcaption>
    </figure>

    <figure class="grid-container">
      <img alt="{{_'homeDescTestAlt'}}"
        src="images/knight_small.jpg" width="228" height="320"
        srcset="images/knight.jpg 456w, images/knight_big.jpg 912w"
        sizes="auto">
      <figcaption>
        <h3>{{_"homeDescTestTitle"}}</h3>
        <p class="is-large">{{_"homeDescTestText"}}</p>
      </figcaption>
    </figure>

    <figure class="grid-container">
      <img alt="{{_ 'homeDescGameAlt'}}"
        src="images/robot_small.jpg" width="228" height="320"
        srcset="images/robot.jpg 456w,
          images/robot_big.jpg 912w"
        sizes="auto">
      <figcaption>
        <h3>{{_ "homeDescGameTitle"}}</h3>
        <p class="is-large">{{{_ "homeDescGameText"}}}</p>
      </figcaption>
    </figure>
  </section>

  <a id="ready-to-play"></a>
  <section class="home-ready">
    <div class="grid-container">
      <h2 class="h3">{{_ "homeReadyTitle"}}</h2>
      {{#if currentUser}}
        <p class="is-large">{{_ "homeReadySubtitleOnline" currentUserName}}</p>
        {{else}}
        <p class="is-large">{{_ "homeReadySubtitle"}}</p>
      {{/if}}
    </div>
    <div class="grid-container">
      {{#if currentUser}}
        <div class="home-ready-form">

<div class="typeform-widget" data-url="https://bdj.typeform.com/to/xIUV9K" data-text="BDJ" style="width:100%;height:620px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
<div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="https://www.typeform.com/examples/forms/?utm_campaign=xIUV9K&amp;utm_source=typeform.com-128902-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-poweredbytypeform&amp;utm_term=FR" style="color: #999" target="_blank">Typeform</a></div>

        <p>{{_ "homeReadyTextOnline"}}</p>
      </div>
    {{else}}
      <div class="home-ready-join">
        <p>{{_ "homeReadyText"}}</p>
        <p>
          <a class="button-big is-cta" href="{{pathFor 'sign-up'}}">{{_ "headerJoin"}}</a>
        </p>
      </div>
    {{/if}}
    <img alt="{{_ 'homeReadyAlt'}}"
        src="images/gameboy_small.png" width="228" height="256"
        srcset="images/gameboy.png 456w, images/gameboy_big.png 912w"
        sizes="auto"
        class="home-ready-illus">
    </div>
  </section>

  <footer class="footer-container">
    <a id="who"></a>
    <section class="home-who">
      <div class="grid-container">
        <h2 class="h3 home-who-names">{{_ 'homeWhoTitle'}}</h2>
      </div>
      <div class="grid-container">
        <div class="home-who-names">
          <p>{{{_ 'homeWhoText'}}}</p>
        </div>
        <div class="home-who-contact">
          <p>{{{_ 'homeWhoContact'}}}</p>
        </div>
      </div>
      <div class="grid-container">
        <h2 class="h3 home-friends">{{_ 'homeFriendsTitle'}}</h2>
        <ul class="home-friends friend-list">
          <li>
            <a href="http://blackstormmuseum.fr/" class="friend-item" target="_blank">
              <img src="images/logo_blackstorm.png" alt="Blackstorm Museum">
            </a>
          </li>
          <li>
            <a href="http://reizeroworld.com/" class="friend-item" target="_blank">
              <img src="images/logo_reizeroworld.png" alt="Rei zero world">
            </a>
          </li>
          <li>
            <a href="http://lightningamer.com/" class="friend-item" target="_blank">
              <img src="images/logo_lightningamer.png" alt="LightninGamer">
            </a>
          </li>
        </ul>
        <p class="friend-invitation"><a href="mailto:hello@bandedejoueurs.com">{{_ 'homeFriendsInvite'}}</a></p>
      </div>
    </section>
  </footer>
</template>
